.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}

.footer{
    background-color: darkslategray;
    margin:0px auto;
    padding:20px 0px 20px 0px;
}

.jumbotron{
    padding:20px 0px 20px 0px;
    margin:0px auto;
    background:#9575CD;
    color:floralwhite;
}

.address{
    font-size:80%;
    margin:0px auto;
    color:#0f0f0f;
}